@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Typography */
h1 {
  font-family: "KoHo", sans-serif;
}

#branding {
  font-family: "Pacifico", cursive;
}

h2 {
  font-family: "KoHo", sans-serif;
}

h3 {
  font-family: "KoHo", sans-serif;
}

#brandSubtitle {
  font-size: 18px;
  font-family: "KoHo", sans-serif;
}

a {
  color: black;
}

.nav-link {
  color: black;
}

a:hover,
.nav-link:hover {
  color: grey;
}

#friendListLink {
  color: black;
}

#friendListLink:hover {
  opacity: 0.6;
  background-color: rgba(128, 128, 128, 0.1);
  text-decoration: none;
}
